{% extends 'base.html.twig' %}

{% block body %}
    <section class="bloe_section">
        <div class="container">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <img src="./images/photo_2020-05-26_17-40-16.png" alt="" class="img-thumbnail" style="border: none;">
                </div>
            </div>

            <div class="row">
                <br>
                <div class="col-12" style="text-align: center;">
                    <h4>Спасибо, с вами свяжутся в ближайшее время!</h4>
                    <p>Время работы: Пн-Вс 09:00 - 18:00</p>

                    <br>
                    <p class="orange_text">
                        <span>Посетите наши страницы в соц. сетях:</span>
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <a href="https://www.instagram.com/odessa_oknacom/">
                        <img src="./images/instagram.png" alt="" class="img-thumbnail" style="border: none;">

                    </a>
                    <p>Instagram</p>
                </div>
                <div class="col-3">
                    <a href="https://www.instagram.com/odessa_oknacom/">
                        <img src="./images/face.png" alt="" class="img-thumbnail" style="border: none;">

                    </a>
                    <p>Facebook</p>
                </div>
            </div>
            <br>
        </div>
    </section>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="orange_text">
                    <span>Обязательно к прочтению!</span>
                </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12" style="text-align: center;">
                <h3>5 причин <span style="color: red;">НЕ ДЕЛАТЬ</span></h3>
                <h3>просчет по телефону</h3>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-12">
                <h5 class="blue_text">№1. Вы не знаете из чего строится цена окна</h5>
            </div>

            <p style="color: red;"><b>Самая популярная ошибка - пытаться узнать цену окна по телефону!</b></p>
            <p><b>Стоимость окна формируется из профиля,
                    его качества, фурнитуры и стеклопакета.
                    А как обычно люди выбирают окно? </b></p>
            <br>
            <p><b>"Размер такой-то, сколько стоит"?</b></p>
            <p><b>- В КОРНЕ НЕ ВЕРНО! ВАС ЛЕГКО ОБМАНУТЬ!</b></p>
        </div>
        <div class="row">
            <div class="col-12">
                <h5 class="blue_text">№2. Вы можете запутаться в компаниях</h5>
            </div>
            <p><b>Компаний так много и легко в них запутаться,
                    в итоге вы рискуете заказать не у тех, у кого
                    хотели, а у хитрых, которые смогли удачно
                    вас "обмануть".</b></p>
        </div>
        <div class="row">
            <div class="col-12">
                <h5 class="blue_text">№3. Вы не знаете, что на самом деле вам считают</h5>
            </div>

            <p><b>Зная, что вы хотите услышать максимально
                    низкую цену - недобросовесные компании
                    специально считают вам не то, что вы
                    просите, а то, что выгодно им </b></p>
        </div>
        <div class="row">
            <div class="col-12">
                <h5 class="blue_text">№4. Просчет занимает столько же времени</h5>
            </div>

            <p><b>Зачем делать бессмысленный просчет по
                    телефону, который не оторажает реальной
                    цены конкретно вашего окна, если можно
                    сделать БЕСПЛАТНЫЙ замер и получить на
                    100% точную и окончательную
                    цену без хитростей?
                </b></p>
        </div>
        <div class="row">
            <div class="col-12">
                <h5 class="blue_text">№5. Не пытайтесь узнать "примерную цену"</h5>
            </div>

            <p><b>Читающие это наверняка думают "да-да,
                    это понятно, но мне примерную цену".
                    Такой вот "примерной" ценой вас
                    обманывают не честные компании.
                    Называют ее как им удобно, а потом она
                    выростает по какой-то причине,
                    а договор то вы уже заключили...
                    по "примерной" цене. </b></p>
        </div>

        <div class="row" style="text-align: left;">
            <div class="col-12">
                <p class="orange_text">
                    <span>ЧТО ДЕЛАТЬ?</span>
                </p>
                <p><b>Забудьте про просчет по телефону!
                        Закажите бесплатного замещика
                        и не давайте шанс обмнуть себя при просчете
                        + получите точную цену и сэкономите время.
                        В итоге все равно придется его вызывать.</b></p>
                <p class="orange_text">
                    <span>Попросите замещика, когда вам перезвонят!</span>
                </p>
                <br>
                <p>С уважением, компания компания Окна-ОК.</p>
            </div>
        </div>
    </div>

    <section class="bloe_section">
        <div class="container">


            <div class="row">
                <br>
                <div class="col-12" style="text-align: center;">
                    <h4>Спасибо, с вами свяжутся в ближайшее время!</h4>
                    <p>Время работы: Пн-Вс 09:00 - 18:00</p>

                    <br>
                    <p class="orange_text">
                        <span>Посетите наши страницы в соц. сетях:</span>
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <a href="https://www.instagram.com/odessa_oknacom/">
                        <img src="./images/instagram.png" alt="" class="img-thumbnail" style="border: none;">

                    </a>
                    <p>Instagram</p>
                </div>
                <div class="col-3">
                    <a href="https://www.instagram.com/odessa_oknacom/">
                        <img src="./images/face.png" alt="" class="img-thumbnail" style="border: none;">

                    </a>
                    <p>Facebook</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <img src="./images/photo_2020-05-26_17-40-16.png" alt="" class="img-thumbnail" style="border: none;">
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}
Спасибо!
{% endblock %}

